/* Media Query */

@media (max-width: 1230px) {
    .principal {
      width: 900px;
    }
  }
  
  @media (max-width: 900px) {
    .principal {
      width: 700px;
    }
  }
  
  @media (max-width: 750px) {
    .principal {
      width: 500px;
    }
    .item .texto {
      display: grid;
      padding-left: 50px;
    }
  }
  
  @media (max-width: 520px) {
    body {
      gap: 60px;
    }
    .header {
      padding: 30px 40px;
    }
    .principal {
      width: 300px;
    }  
    .principal .item {
      grid-template-columns: 1fr;
    }
    .principal .item .texto {
      margin-top: 30px;
      display: grid;
      padding-left: 0px;
    }
    .principal .item .texto {
      text-align: center;
    }
    .item .texto .button-container {
      justify-content: center;
      margin-top: 30px;
    }
}