<footer class="footer">
    <div class="container">
        <div class="row">
            <p class="direitos">Todos os seus direitos reservados © </p>
        </div>
    </div>
</footer>

<div class="news">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Site desenvolvido por:</p>
                <ul>
                    <li>Daniel de Oliveira</li>
                    <li>Luís Eduardo</li>
                    <li>Karoline Moraes</li>
                </ul>
            </div>
            <div class="col-md-4">
                <a class="login" href="/">login</a>
            </div>
        </div>
    </div>
</div>