<header class="menu">
    <div class="container">
        <div class="row menu-container">
            <div class="col-md-4 menu-header">
                <a class="menu-logo " href="/">Adopt</a>
            </div>
            <nav class="menu-nav col-md-8">
                <ul>
                    <li><a href="/info">Empresa</a></li>
                    <li><a href="/sobre">Sobre Nós</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>