<nav class="navbar navbar-dark bg-dark p-2">
    <a href="/" class="navbar-brand">Adopt</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item d-flex">
            <a href="/admin/gatos/" class="nav-link p-2">Gatos</a>
            <a href="/admin/gatos/new" class="nav-link">Cadastro</a>
        </li>
    </ul>
</nav>