<%- include("partials/header.ejs") %>
    <%- include("partials/headerPag.ejs") %>

        <div class="container">
            <div class="subtitle-sobre">
                <h2>Sobre Nós</h2>
            </div>
            <p class="textinho">Somos uma empresa ficticia com o propósito de ajudar os animais após a fase de resgate, fazendo uma forma de compaixão entre a união do animal e você!<br>Infelizmente não possuimos nenhuma parceria, sendo assim nosso trabalho está sendo totalmente independente!</p>
        </div>

        <div class="resgate">
            <p>Focado neles e em você</p>
        </div>

        <div class="container sobre">
            <p>Obrigado por acessar!</p>
        </div>

        <%- include("partials/footerPag.ejs") %>

            <%- include("partials/footer.ejs") %>