/* Normalize */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root {
  --verde: #090;
  --verde-escuro: #005000; 
  --branco: #fff;
  --preto: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  gap: 80px;
}

/* Header */

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 30px 40px;
  border-bottom: 3px solid var(--verde);
}

.header h1 {
  color: var(--preto);
  font-size: 2em;
  transition: .3s;
}

.header h1:hover {
  color: var(--verde);
}

.cadastro-itens {
  display: flex;
  flex-wrap: wrap;
}

.cadastro-itens li a {
  color: var(--preto);
  transition: .3s;
  margin-left: 20px;
}

.cadastro-itens li a:hover {
  color:var(--verde);
}

/* Main */

.principal {
  max-width: 1400px;
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center ;
  justify-content: center;
}

/* Main Itens */

.principal .item + .item {
  padding-top: 100px;
}

.principal .item {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.principal .item .perfil {
  display: flex;
  flex-direction: column;
}

.principal .item .perfil img {
  min-width: 200px;
  width: 200px;
  min-height: 200px;
  object-fit: cover;
  max-width: 100%;
  border-radius: 50%;
  margin: 0 auto;
}

.principal .item .perfil p {
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: bold;
}

.principal .item .perfil span {
  text-align: center;
  font-style: italic;
}

/* Part 2*/

.principal .item .texto {
  display: grid;
  padding-left: 100px;
}

.principal .item .texto h3 {
  font-size: 2em;
}

.principal .item .texto p {
  max-width: 80vh;
}

.principal .item .texto .button-container {
  display: grid;
  justify-content: right;
  align-items: end;
}

.principal .item .texto .button-container button {
  color: var(--branco);
  background-color: var(--verde);
  border: none;
  width: 100px;
  height: 38px;
  cursor: pointer;
  transition: .3s ;
}

.principal .item .texto .button-container button:hover {
  background-color: var(--verde-escuro);
}

/* Footer*/

.footer {
  text-align: center;
  background-color: var(--verde);
  padding: 20px;
}

.footer p {
  color: var(--branco);
}
